[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==20.8b1"
pre-commit = "*"
pytest-sanic = "*"
pytest-cov = "*"

[packages]
dnslib = "*"
dependency-injector = {extras = ["yaml"], version = "*"}
sanic = "*"

[requires]
python_version = "3.8"

[scripts]
check_black = "black --check ."
test = "pytest --cov --cov-report=xml"
